<div class="wrapper">
  <div class="wrapped-div">
    <div class="jumbotron jumbotron-fluid" style="padding: 45px 0px">
      <div class="container">
        <h1 class="display-4 text-center">To-do list</h1>
      </div>
    </div>
  
    <div class="input-group">
      <input type="text" class="form-control" #newToDo>
      <div onmouseover="this.style.cursor='pointer'" (click)="addToDo(newToDo)">
        <i class="fa fa-plus-circle fa-2x" style="padding: 4px"></i>
      </div>
    </div>

    <div style="margin: 5px 0px">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of toDoList">
          <span class="hover-cursor" [class.text-success]="item.isCompleted === 'Y'" (click)="item.isCompleted === 'Y' ? alterCheck(false, item.id) : alterCheck(true, item.id)">
            <!-- [ngClass] will add or remove css classes on an HTML element-->
            <!-- If the item is completed show checkmark, if not display no checkmark-->
            <i class="fa fa-lg" [ngClass]="item.isCompleted === 'Y' ? 'fa-check-circle-o':'fa-circle-thin'"></i>
          </span>
          {{item.description}}
          <span class="hover-cursor text-danger pull-right" (click)="deleteToDo(item.id)">
            <i class="fa fa-trash-o fa-lg"></i>
          </span>
        </li>
      </ul>
    </div>

  </div>
</div>